<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>day20_listener</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
 <!-- 
  <listener>
  	<listener-class>vvr.web.listener.MyServletContextListener</listener-class>
  </listener>
  

  
  
  <listener>
  	<listener-class>vvr.web.listener.MyHttpSessionListener</listener-class>
  </listener>
   -->
   
  
  <!-- 定义session销毁时间 -->
   <!-- 
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config>
     -->
     
        <!-- 
  <listener>
  	<listener-class>vvr.web.listener.MyServletRequestListener</listener-class>
  </listener>
  -->
  
  <listener>
  	<listener-class>vvr.web.listener.OnLineCountListener</listener-class>
  </listener>

  
</web-app>