<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>day18</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <filter>
  	<filter-name>CharSetEncodingFilter</filter-name>
  	<filter-class>vvr.web.filter.CharSetEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CharSetEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>DirtyFilter</filter-name>
  	<filter-class>vvr.web.filter.DirtyFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>DirtyFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>HtmlFilter</filter-name>
  	<filter-class>vvr.web.filter.HtmlFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>HtmlFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 
  <filter>
  	<filter-name>FilterDemo3</filter-name>
  	<filter-class>vvr.web.filter.FilterDemo3</filter-class>
  	<init-param>
  		<param-name>charset</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>FilterDemo3</filter-name>
  	<url-pattern>/*</url-pattern>
  	<dispatcher>FORWARD</dispatcher>	
  </filter-mapping>
  
   -->
  
  
  <!-- * 代表拦截所以请求 -->
  
  <!-- 
  <filter>
  	<filter-name>FilterDemo1</filter-name>
  	<filter-class>vvr.web.filter.FilterDemo1</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FilterDemo1</filter-name>
  	<url-pattern>/*</url-pattern>	
  </filter-mapping>
  
    <filter>
  	<filter-name>FilterDemo2</filter-name>
  	<filter-class>vvr.web.filter.FilterDemo2</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FilterDemo2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  -->

  
  
  <servlet>
    <servlet-name>ServletDemo1</servlet-name>
    <servlet-class>vvr.web.servlet.ServletDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CharsetEncodingServlet</servlet-name>
    <servlet-class>vvr.web.servlet.CharsetEncodingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DirtyServlet</servlet-name>
    <servlet-class>vvr.web.servlet.DirtyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HtmlServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>vvr.web.servlet.HtmlServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/ServletDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CharsetEncodingServlet</servlet-name>
    <url-pattern>/CharsetEncodingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DirtyServlet</servlet-name>
    <url-pattern>/DirtyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HtmlServlet</servlet-name>
    <url-pattern>/HtmlServlet</url-pattern>
  </servlet-mapping>
  
</web-app>